@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Montserrat:wght@300&family=Outfit:wght@300&family=Overpass:wght@900&family=Red+Hat+Display:wght@500;700;900&family=Roboto&family=Rubik:wght@300;400;500&family=Space+Grotesk:wght@500&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --col--Blue: hsl(246, 80%, 60%);
  --col--Light-red-work: hsl(15, 100%, 70%);
  --col--Soft-blue-play: hsl(195, 74%, 62%);
  --col--Light-red-study: hsl(348, 100%, 68%);
  --col--Lime-green-exercise: hsl(145, 58%, 55%);
  --col--Violet-social: hsl(264, 64%, 52%);
  --col--Soft-orange-self-care: hsl(43, 84%, 65%);
  --col--Very-dark-blue: hsl(226, 43%, 10%);
  --col--Dark-blue: hsl(235, 46%, 20%);
  --col--Desaturated-blue: hsl(235, 45%, 61%);
  --col--Pale-Blue: hsl(236, 100%, 87%);
  --fs: 18px;
  --ff: "Rubik", sans-serif;
}
body {
  background-color: var(--col--Very-dark-blue);
}
.attribution {
  color: white;
}
.attribution a {
  color: red;
}
main {
  height: auto;
  background-color: var(--col--Very-dark-blue);
  font-family: var(--ff);
}

.parent-container {
  width: 90%;
  margin: auto;
}

.card-container {
  width: 100%;
  border-radius: 15px;
  margin: 2em 0;
}

/*profile information*/

.card-container:nth-of-type(1) {
  background-color: var(--col--Dark-blue);
  height: 13em;
}

.profile-container {
  background-color: var(--col--Dark-blue);
  border-radius: 15px;
}
.profile-info {
  display: flex;
  height: 65%;
  align-items: center;
  padding: 1.5em;
  background-color: var(--col--Blue);
  border-radius: 15px;
}
.profile-info img {
  width: 4em;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 2em;
}
.time-filter {
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
}
input[type="radio"] {
  display: none;
}
.time-filter label {
  color: var(--col--Pale-Blue);
  cursor: pointer;
}

.profile-info p {
  color: var(--col--Pale-Blue);
  font-size: 13px;
}
#user-name {
  color: white;
  font-size: 23px;
  margin-top: 0.2em;
}
/*Work caontainer*/

.card-container:nth-of-type(2),
.card-container:nth-of-type(3),
.card-container:nth-of-type(4),
.card-container:nth-of-type(5),
.card-container:nth-of-type(6),
.card-container:nth-of-type(7) {
  position: relative;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  height: 10em;
}

.card-container:nth-of-type(2) {
  background-color: var(--col--Light-red-work);
}
.card-container:nth-of-type(3) {
  background-color: var(--col--Soft-blue-play);
}
.card-container:nth-of-type(4) {
  background-color: var(--col--Light-red-study);
}
.card-container:nth-of-type(5) {
  background-color: var(--col--Lime-green-exercise);
}
.card-container:nth-of-type(6) {
  background-color: var(--col--Violet-social);
}
.card-container:nth-of-type(7) {
  background-color: var(--col--Soft-orange-self-care);
}

.card-infos {
  position: absolute;
  background-color: var(--col--Dark-blue);
  border-radius: 15px;
  height: 7.5em;
  width: 100%;
  top: 31%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  color: white;
  cursor: pointer;
}
.card-image-design {
  display: flex;
  justify-content: end;
  position: relative;
}
.card-image-design img {
  position: absolute;
  margin-right: 1.2em;
  width: 4.5em;
  top: -10px;
}
.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-details img {
  height: 25%;
  cursor: pointer;
}
.card-details p {
  font-size: 18px;
  font-weight: 500;
}
.card-details-info {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-details-info > p {
  font-size: 30px;
  font-weight: 300;
}
#previous-container {
  font-size: 15px;
  color: var(--col--Pale-Blue);
  text-align: center;
}

@media (min-width: 800px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .parent-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2;
    width: 80%;
  }
  .card-container {
    margin: 0;
  }

  .card-container:nth-of-type(1) {
    grid-row: span 2;
    height: auto;
  }
  .profile-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-info img {
    width: 3em;
    margin-bottom: 1.5em;
  }
  .profile-info p {
    font-size: 10px;
  }

  #user-name {
    font-size: 25px;
    font-weight: 300;
  }
  .time-filter {
    padding: 0.5em;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    font-size: 13px;
    margin: 1em 1em;
  }

  .card-infos {
    height: auto;
    width: 100%;
    top: 18%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    color: white;
  }
  .card-image-design img {
    position: absolute;
    margin-right: 1.2em;
    width: 3em;
    top: -10px;
  }
  .card-details-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-details-info > p {
    font-size: 2em;
    font-weight: 300;
  }
  #previous-container {
    font-size: 10px;
    text-align: start;
    margin-top: 7px;
  }
  .card-details img {
    height: 25%;
  }
  .card-details p {
    font-size: 13px;
    font-weight: 500;
  }
}

/*ACTIVE STATE*/

.time-filter label:hover {
  color: white;
}
input[type="radio"]:checked + label {
  color: white;
}

.card-infos:hover {
  transition: 0.3s ease-in-out;
  background-color: hsl(235, 46%, 35%);
}
